image: gradle:alpine

stages:
  - build
  - test
  - deploy

variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"

before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd encryption-component

cache:
  key: "$CI_COMMIT_REF_NAME"
  paths:
    - build
    - .gradle
    - encryption-component/build/*
    - encryption-component/gradle/*
  policy: pull


build:
  stage: build
  script: ./gradlew clean build -PnexusUser=xxx -PnexusPassword=xxx
  cache:
    key: "$CI_COMMIT_REF_NAME"
    policy: push
    paths:
      - build
      - .gradle
      - encryption-component/build/*
      - encryption-component/gradle/*
test:
  stage: test
  script: ./gradlew check -PnexusUser=xxx -PnexusPassword=xxx
  cache:
    key: "$CI_COMMIT_REF_NAME"
    policy: pull
    paths:
      - build
      - .gradle

deploy:
  stage: deploy
  when: manual
  tags:
    - nexus-publishing
  cache:
    key: "$CI_COMMIT_REF_NAME"
    paths:
      - build
      - .gradle
      - encryption-component/build/*
      - encryption-component/gradle/*
    policy: push
  script:
    - ./gradlew publish -PnexusUser=$NEXUS_USER -PnexusPassword=$NEXUS_PASSWORD
  dependencies:
    - build
  only:
    - master
